body {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.container {
  padding: 15px 100px;
}

.item {
  margin-top: 10px;
}

.input-large {
  font-size: 24px;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.edit-form {
  padding-top: 10px;
}


