<div class="row edit-form">
  <button class="btn btn-primary" ng-disabled="!hiddenForm" ng-click="showForm()">Добавить отель</button>
</div>
<div class="row">
  <!-- Форма добавления отеля -->
  <form ng-hide="hiddenForm">
    <div class="col-md-2">
      <h3>Добавление отеля</h3>
    </div>
    <div class="col-md-10">
      <div class="form-group row">
        <div class="col-md-6">
          <label for="newHotel_name" accesskey="Н"><u>Н</u>азвание отеля</label>
          <input type="text" id="newHotel_name" class="form-control" ng-model="newHotel.name" placeholder="Введите название" />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-4">
          <label for="newHotel_country" accesskey="С"><u>С</u>трана</label>
          <select class="form-control" id="newHotel_country" ng-model="newHotel.country"
            ng-options="country.name for country in countries | orderBy: 'name' track by country.objectId">
          </select>
        </div>
        <div class="col-md-4">
          <label for="newHotel_place" accesskey="М"><u>М</u>есто</label>
          <select class="form-control" id="newHotel_place" ng-model="newHotel.place"
            ng-options="place.name for place in places | filter: {country: {objectId: newHotel.country.objectId}} | orderBy: 'name' track by place.objectId">
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3">
          <label for="newHotel_stars" accesskey="З">Количество <u>з</u>везд</label>
          <input type="number" id="newHotel_stars" class="form-control" ng-model="newHotel.stars" placeholder="Звездность 1-5"/>
        </div>
      </div>
      <div class="form-group text-right">
        <button class="btn btn-primary" ng-click="addHotel(newHotel)" accesskey="Д"><u>Д</u>обавить</button>
        <button class="btn btn-primary" ng-click="hideForm()" accesskey="О"><u>О</u>тменить</button>
      </div>
    </form>
  </div>
</div>
<!-- Список отелей -->
<div class="row item" ng-repeat="hotel in hotels | orderBy: 'name'">
  <div ng-show="!hotel.editMode">
    <div class="row">
      <div class="col-md-10">
        <h3>{{hotel.name}}
          <span class="label-country">{{hotel.country.name}}</span>
          <span class="label-place">{{hotel.place.name}}</span>
        </h3>
      </div>
      <div class="col-md-2 stars text-right">
        <h3>Звезд: {{hotel.stars}}</h3>
      </div>
    </div>
    <div class="row text-right">
      <div class="col-md-8 text-left">
      </div>
      <div class="col-md-2" ><a ng-click="editHotel(hotel)">Редактировать</a></div>
      <div class="col-md-2"><a ng-click="deleteHotel(hotel)">Удалить</a></div>
    </div>
  </div>
  <!-- Форма редактирования отеля -->
  <div ng-show="hotel.editMode">
    <div class="row">
      <div class="col-md-6">
        <label for="name_{{hotel.objectId}}">Название отеля</label>
        <input type="text" id="name_{{hotel.objectId}}" class="form-control input-large" ng-model="hotel.draft.name" />
      </div>
      <div class="col-md-2">
        <label for="country_{{hotel.objectId}}">Страна</label>
        <select class="form-control" id="country_{{hotel.objectId}}" ng-model="hotel.draft.country"
          ng-options="country.name for country in countries track by country.objectId">
        </select>
      </div>
      <div class="col-md-2">
        <label for="place_{{hotel.objectId}}">Место</label>
        <select id="place_{{hotel.objectId}}" class="form-control" ng-model="hotel.draft.place"
          ng-options="place.name for place in places | filter: {country: {objectId: hotel.draft.country.objectId}} track by place.objectId">
        </select>
      </div>
      <div class="col-md-2 text-right">
        <label for="stars_{{hotel.objectId}}">Звезды</label>
        <input type="number" id="stars_{{hotel.objectId}}" class="form-control input-large" ng-model="hotel.draft.stars" />
      </div>
    </div>
    <div class="row">
    </div>
    <div class="row form-group text-right">
      <div class="col-md-8">
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary" ng-click="saveHotel(hotel)">Сохранить</button>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary" ng-click="cancelEdit(hotel)">Отменить</button>
      </div>
    </div>
  </div>
</div>
