<div class="row">
  <div class=col-md-8>
    <h2>Все туры</h2>
  </div>
  <!-- Фильтр по стране и месту -->
  <div class="col-md-2">
    <label for="country">Страна</label>
    <select class="form-control" id="country" ng-model="selectedCountry"
      ng-options="country.name for country in countries track by country.objectId">
      <option value="" default>Все страны</option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="country">Место</label>
    <select class="form-control" id="place" ng-model="selectedPlace"
      ng-options="place.name for place in places | filter: {country: {objectId: selectedCountry.objectId}} track by place.objectId">
      <option value="" default>Все места</option>
    </select>
  </div>
</div>
<!-- Список туров -->
<div class="row item" ng-repeat="tour in tours | filter: {country: {objectId: selectedCountry.objectId}, place: {objectId: selectedPlace.objectId}}">
  <div class="row-tour">
    <div class="row">
      <div class="col-md-10">
        <a ng-href="/#/tours/{{tour.objectId}}" class="tour-title">{{tour.title}}</a>
        <span class="label-country" >{{tour.country.name}}</span>
        <span class="label-place" ng-if="tour.place">{{tour.place.name}}</span>
      </div>
      <div class="col-md-2 price text-right">
        {{tour.price}} руб.
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 hotel">
        &raquo; {{tour.hotel.name}}
        <span class="label-stars">Звезд: {{tour.hotel.stars}}</span>
      </div>
      <div class="col-md-4 text-right">
        <span class="duration">Дней: {{tour.duration}}</span>
      </div>
    </div>
  </div>
</div>
