<div class="row">
  <div class=col-md-8>
    <h2>Туры</h2>
  </div>
  <!-- Фильтр по стране и месту -->
  <div class="col-md-2">
    <label for="country">Страна</label>
    <select class="form-control" id="country" ng-model="selectedCountry"
      ng-options="country.name for country in countries track by country.objectId">
      <option value="" default>Все страны</option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="country">Место</label>
    <select class="form-control" id="place" ng-model="selectedPlace"
      ng-options="place.name for place in places | filter: {country: {objectId: selectedCountry.objectId}} track by place.objectId">
      <option value="" default>Все места</option>
    </select>
  </div>
</div>
<!-- Кнопка Добавить тур -->
<div class="row edit-form">
  <button class="btn btn-primary" ng-disabled="!hiddenForm" ng-click="showForm()">Добавить тур</button>
</div>
<!-- Форма добавления тура -->
<div class="row">
  <form ng-hide="hiddenForm">
    <div class="col-md-2">
      <h3>Добавление тура</h3>
    </div>
    <div class="col-md-10">
      <div class="form-group row">
        <div class="col-md-6">
          <label for="title">Название тура</label>
          <input type="text" id="title" class="form-control" ng-model="newTour.title" placeholder="Введите название" />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-4">
          <label for="country">Страна</label>
          <select class="form-control" id="country" ng-model="newTour.country"
            ng-options="country.name for country in countries track by country.objectId">
          </select>
        </div>
        <div class="col-md-4">
          <label for="place">Место</label>
          <select class="form-control" id="place" ng-model="newTour.place"
            ng-options="place.name for place in places | filter: {country: {objectId: newTour.country.objectId}} track by place.objectId">
          </select>
        </div>
        <div class="col-md-4">
          <label for="hotel">Отель</label>
          <select class="form-control" id="hotel" ng-model="newTour.hotel"
            ng-options="hotel.name for hotel in hotels | filter: {place: {objectId: newTour.place.objectId}} track by hotel.objectId">
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3">
          <label for="price">Цена</label>
          <input type="number" id="price" class="form-control" ng-model="newTour.price" placeholder="Введите цену"/>
        </div>
      </div>
      <div class="form-group">
          <label for="text">Описание</label>
          <textarea id="text" class="form-control" ng-model="newTour.text" placeholder="Введите описание"></textarea>
      </div>
      <div class="form-group row">
        <div class="col-md-3">
          <label for="duration">Продолжительность</label>
          <input type="number" id="duration" class="form-control" ng-model="newTour.duration" placeholder="Дней"/>
        </div>
      </div>
      <div class="form-group text-right">
        <button class="btn btn-primary" ng-click="addTour(newTour)">Добавить</button>
        <button class="btn btn-primary" ng-click="hideForm()">Отменить</button>
      </div>
    </form>
  </div>
</div>
<!-- Список туров -->
<div class="row item" ng-repeat="tour in tours | filter: {country: {objectId: selectedCountry.objectId}, place: {objectId: selectedPlace.objectId}}">
  <div class="row-tour" ng-show="!tour.editMode">
    <div class="row">
      <div class="col-md-10">
        <a ng-href="/#/tours/{{tour.objectId}}" class="tour-title">{{tour.title}}</a>
        <span class="label-country" >{{tour.country.name}}</span>
        <span class="label-place" ng-if="tour.place">{{tour.place.name}}</span>
      </div>
      <div class="col-md-2 price text-right">
        {{tour.price}} руб.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 tour-desc">{{tour.text}}</div>
    </div>
    <div class="row">
      <div class="col-md-12 hotel">
        &raquo; {{tour.hotel.name}}
        <span class="label-stars">Звезд: {{tour.hotel.stars}}</span>
      </div>
    </div>
    <div class="row text-right">
      <div class="col-md-8 text-left">
        <span class="duration">Дней: {{tour.duration}}</span>
      </div>
      <div class="col-md-2" ><a ng-click="editTour(tour)">Редактировать</a></div>
      <div class="col-md-2"><a ng-click="deleteTour(tour)">Удалить</a></div>
    </div>
  </div>
  <!-- Редактирование тура -->
  <div ng-show="tour.editMode">
    <div class="row">
      <div class="col-md-6">
        <input type="text" class="form-control input-large" ng-model="tour.draft.title" />
      </div>
      <div class="col-md-2">
        <select class="form-control" ng-model="tour.draft.country"
          ng-options="country.name for country in countries track by country.objectId">
        </select>
      </div>
      <div class="col-md-2">
        <select class="form-control" ng-model="tour.draft.place"
          ng-options="place.name for place in places | filter: {country: {objectId: tour.draft.country.objectId}} track by place.objectId">
        </select>
      </div>
      <div class="col-md-2 price text-right">
        <input type="number" class="form-control input-large" ng-model="tour.draft.price" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <textarea id="text" class="form-control" ng-model="tour.draft.text"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <select class="form-control" ng-model="tour.draft.hotel"
          ng-options="hotel.name for hotel in hotels | filter: {place: {objectId: tour.draft.place.objectId}} track by hotel.objectId">
        </select>
      </div>
    </div>
    <div class="row form-group text-right">
      <div class="col-md-8 text-left">
        <input type="number" class="form-control" ng-model="tour.draft.duration" />
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary" ng-click="saveTour(tour)">Сохранить</button>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary" ng-click="cancelEdit(tour)">Отменить</button>
      </div>
    </div>
  </div>
</div>
