<div class="row vertical-align edit-form">
  <div class="col-md-4">
    <input type="text" class="form-control input-large" ng-model="newCountry.name" />
  </div>
  <div class="col-md-2">
    <button class="btn btn-primary" ng-click="addCountry()">Добавить</button>
  </div>
</div>
<div ng-repeat="country in countries | orderBy: 'name' track by $index">
  <div ng-hide="country.draft">
    <div class="row vertical-align">
      <div class="col-md-4"><h3>{{country.name}}</a></h3> </div>
      <div class="col-md-2"><a ng-click="editCountry(country)">Редактировать</a></div>
      <div class="col-md-2"><a ng-click="deleteCountry(country)">Удалить</a></div>
    </div>
  </div>
  <div ng-show="country.draft">
    <div class="row vertical-align edit-form">
      <div class="col-md-4">
        <input type="text" class="form-control input-large" ng-model="country.draft.name" />
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary" ng-click="saveCountry(country)">Сохранить</button>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary" ng-click="cancelEdit(country)">Отменить</button>
      </div>
    </div>
  </div>
</div>
